<mat-toolbar class="page-header" role="heading">
  <h1>Companies</h1>
</mat-toolbar>

<button mat-raised-button [routerLink]="['../register/']">
  Add Company <mat-icon>add</mat-icon>
</button>

<!-- <p>{{ vm$ | async | json }}</p> -->

<div *ngIf="vm$ | async as companyList">
  <app-company-list-table [companies]="companyList"></app-company-list-table>
</div>
<!--
<div class="tables-wrapper" *ngIf="vm$ | async as users">
  <br />
  <button mat-raised-button [routerLink]="['../register/']">
    create user  <mat-icon> person_add</mat-icon>
  </button>
  <br />
</div> -->
<!-- <app-employee-table [employeeTableData]="users"></app-employee-table> -->
