<!-- {{ vm$ | async | json }} -->


<ng-container *ngIf="vm$ | async as viewModel">
  <mat-toolbar *ngIf="!viewModel.loading && !viewModel.error" class="page-header" role="heading">
    <h1>Companies</h1>
  </mat-toolbar>

  <mat-progress-bar *ngIf="viewModel.loading" color='accent' mode="indeterminate"></mat-progress-bar>
  <div *ngIf="!viewModel.loading && !viewModel.error">
    <button mat-raised-button [routerLink]="['../register/']">
      Add Company <mat-icon>add</mat-icon>
    </button>
    <app-company-list-table [companies]="viewModel.companies"></app-company-list-table>
  </div>
  <div *ngIf="viewModel.error">{{ viewModel.error | json }}</div>
</ng-container>