<mat-toolbar class="page-header" role="heading">
  <button mat-raised-button (click)="navigate_back()">
    <mat-icon>arrow_back</mat-icon> back
  </button>
  <h1>Create New User</h1>
</mat-toolbar>
<!-- {{ ids$ | async | json }} -->
<mat-card class="admin-user--register-form-card">
  <mat-card-content>
    <form class="form" [formGroup]="form" (ngSubmit)="register()">
      <mat-form-field class="form__input">
        <input matInput placeholder="Company Name" type="text" formControlName="name" />
        <mat-error class="form__error-description" *ngIf="(name.touched || submitted) && name.errors?.required">
          Company Name Is Required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form__input">
        <mat-label>user</mat-label>
        <mat-select formControlName="user"  [value]="user.value">
          <mat-option *ngFor="let temporaryItem of temporaryList" [value]="temporaryItem.id">{{ temporaryItem.name }}</mat-option>
        </mat-select>
        <mat-error class="form__error-description" *ngIf="(user.touched || submitted) && user.errors?.required">
          User Is Required
        </mat-error>
      </mat-form-field>

      <mat-divider></mat-divider>
      <mat-divider></mat-divider>

      <mat-list>
        <mat-list-item>
          <mat-icon>business</mat-icon> Branches
        </mat-list-item>
      </mat-list>


      <div formArrayName="branches" class="form__branches">
        <div *ngFor="let branch of companyBranches.controls; let i = index" class="form__branch-item">
          <button mat-fab color="warn" (click)="deleteBranch(i)"
            [matTooltip]="'delete branch ' + (companyBranches.controls[i].get('name').value || '') "
            matTooltipPosition="right" aria-label="delete branch">
            <mat-icon>delete_outline</mat-icon>
          </button>
          <div [formGroupName]="i">
            <mat-form-field class="form__input">
              <input matInput placeholder="Branch Name" type="text" formControlName="name" />
              <mat-error class="form__error-description"
                *ngIf="(companyBranches.controls[i].get('name').touched || submitted) && companyBranches.controls[i].get('name').errors?.required">
                Branch Name is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form__input">
              <mat-label>Country</mat-label>
              <mat-select formControlName="countryID">
                <mat-option *ngFor="let temporaryItem of temporaryList" [value]="temporaryItem.id">{{ temporaryItem.name }}</mat-option>
              </mat-select>
              <mat-error class="form__error-description"
                *ngIf="(companyBranches.controls[i].get('countryID').touched || submitted) && companyBranches.controls[i].get('countryID').errors?.required">
                Country is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form__input">
              <mat-label>State</mat-label>
              <mat-select formControlName="stateID">
                <mat-option *ngFor="let temporaryItem of temporaryList" [value]="temporaryItem.id">{{ temporaryItem.name }}</mat-option>
              </mat-select>
              <mat-error class="form__error-description"
                *ngIf="(companyBranches.controls[i].get('stateID').touched || submitted) && companyBranches.controls[i].get('stateID').errors?.required">
                State is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form__input">
              <mat-label>city</mat-label>
              <mat-select formControlName="cityID">
                <mat-option *ngFor="let temporaryItem of temporaryList" [value]="temporaryItem.id">{{ temporaryItem.name }}</mat-option>
              </mat-select>
              <mat-error class="form__error-description"
                *ngIf="(companyBranches.controls[i].get('cityID').touched || submitted) && companyBranches.controls[i].get('cityID').errors?.required">
                city is required
              </mat-error>
            </mat-form-field>

            <mat-form-field class="form__input">
              <input matInput placeholder="Address Line 1" type="text" formControlName="addressLine" />
              <mat-error class="form__error-description"
                *ngIf="(companyBranches.controls[i].get('addressLine').touched || submitted) && companyBranches.controls[i].get('addressLine').errors?.required">
                Address Line is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form__input">
              <input matInput placeholder="Address Line 2" type="text" formControlName="addressLineTwo" />
              <mat-error class="form__error-description"
                *ngIf="(companyBranches.controls[i].get('addressLineTwo').touched || submitted) && companyBranches.controls[i].get('addressLineTwo').errors?.required">
                Address Line 2 is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form__input">
              <input matInput placeholder="Zip Code" type="text" formControlName="zipCode" />
              <mat-error class="form__error-description"
                *ngIf="(companyBranches.controls[i].get('zipCode').touched || submitted) && companyBranches.controls[i].get('zipCode').errors?.required">
                Zip code is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form__input">
              <mat-label>Phone Index</mat-label>
              <mat-select formControlName="phoneIndex">
                <mat-option *ngFor="let temporaryItem of temporaryList" [value]="temporaryItem.id">{{ temporaryItem.name }}</mat-option>
              </mat-select>
              <mat-error class="form__error-description"
                *ngIf="(companyBranches.controls[i].get('phoneIndex').touched || submitted) && companyBranches.controls[i].get('phoneIndex').errors?.required">
                Select Phone Index Please
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form__input">
              <input matInput placeholder="Phone Number" type="text" formControlName="phoneNumber" />
              <mat-error class="form__error-description"
                *ngIf="(companyBranches.controls[i].get('phoneNumber').touched || submitted) && companyBranches.controls[i].get('phoneNumber').errors?.required">
                Phone Number Is Required
              </mat-error>
            </mat-form-field>
          </div>
          <mat-divider *ngIf="(i+1) < companyBranches.controls.length"></mat-divider>
        </div>
      </div>

      <button mat-raised-button type="button" (click)="addNewBranch()">
        <mat-icon>add</mat-icon> add branch
      </button>

      <div class="form-actions">
        <button class="form-actions__create" mat-raised-button color="primary" type="submit">
          Create company account
        </button>
        <mat-spinner diameter='30' *ngIf="isLoading$ | async"></mat-spinner>
      </div>
    </form>
  </mat-card-content>
</mat-card>