@import 'colors';
@import 'fonts';
.admin-user--register-form-card {
  width: 600px;
}

.form {
  width: 100%;
  max-width: 500px;

  &__input {
    width: 100%;
    margin: 10px 0;
  }
  &__error-description {
    line-height: 1.4;
    font-size: $fs-small - 1;
  }
  &__branches {
    padding-left: 15px;
    margin: 15px 0;
  }
  &__divider {
    padding: 10px 0;
  }
  &__branch-item {
    margin: 15px 0;
  }
}

.form-actions {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 15px;

  &__create {
    margin: 0;
    // width: 95%;
    box-shadow: 0 0 11px 0 $shadow-white, 0 0 0 -2px $shadow-grey,
      0 1px 8px 0 $shadow-dark-grey;
  }
}
