<div class="auth-page">
  <div class="auth-page__content-block">
    <div class="auth-page__content-wrapper">
      <mat-tab-group class="auth-page__group">
        <mat-tab label="Login">
          <h4 class="auth-page__group-title">Hello, User</h4>
          <app-login-form></app-login-form>
        </mat-tab>
        <mat-tab label="New User">
          <h4 class="auth-page__group-title">Welcome!</h4>
          <p class="auth-page__group-sub-title">Create you account</p>
          <app-register-form></app-register-form>
        </mat-tab>
      </mat-tab-group>

      <p class="auth-page__footer-title">
        © 2021 <a href="#">MenuLab.io</a>. All rights
        reserved.
      </p>
    </div>
  </div>
  <div class="auth-page__logo">
    <div class="auth-page__logo-wrapper">
      <img
        class="auth-page__logo-img"
        src="./assets/images/logo.png"
        alt="logo"
      />
      <h6 class="auth-page__logo-title">MenuLab I/O</h6>
    </div>
  </div>
</div>
