<mat-toolbar class="page-header" role="heading">
  <button mat-raised-button color="primery" (click)="navigate_back()">
    back
  </button>
  <h1>Users details</h1>
</mat-toolbar>

<mat-card class="admin-user--udpdate-form-card">
  <mat-card-content>
    <app-user-details-form
      [user]="user$ | async"
      [adminRoles]="adminRoles$ | async"
      (submitForm)="submitUpdateAdminUserForm($event)"
    ></app-user-details-form>
  </mat-card-content>
</mat-card>
<!-- <p> {{ isUserInStore$ | async | json }}</p> -->
