<mat-card class="admin-user--set-password">
  <mat-card-content>
    <form class="form" [formGroup]="form" (ngSubmit)="setPassword()">
      <mat-form-field class="form__input">
        <input
          matInput
          placeholder="Password"
          type="password"
          formControlName="password"
        />
        <mat-error
          class="form__error-description"
          *ngIf="
            (formControls.password.touched || submitted) &&
            formControls.password.errors?.required
          "
        >
          Password is required
        </mat-error>
        <mat-error
          class="form__error-description"
          *ngIf="
            (formControls.password.touched || submitted) &&
            !formControls.password.errors.required &&
            formControls.password.errors.invalidPassword
          "
        >
          Password should have minimum 8 characters, at least 1 uppercase
          letter, 1 lowercase letter and 1 number
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form__input">
        <input
          matInput
          placeholder="Confirm Password"
          type="password"
          formControlName="confirmPassword"
        />
        <mat-error
          class="form__error-description"
          *ngIf="
            (formControls.confirmPassword.touched || submitted) &&
            formControls.confirmPassword.errors?.required
          "
        >
          Confirm Password is required
        </mat-error>
        <mat-error
          class="form__error-description"
          *ngIf="
            (formControls.confirmPassword.touched || submitted) &&
            !formControls.confirmPassword.errors.required &&
            formControls.confirmPassword.errors.passwordMismatch
          "
        >
          Passwords doesnot match
        </mat-error>
      </mat-form-field>

      <div class="form-actions">
        <button
          class="form-actions__set-password"
          mat-flat-button
          color="primary"
          type="submit"
        >
          set password
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
