<form class="form" [formGroup]="form" (ngSubmit)="register()">
  <mat-form-field class="form__input">
    <input matInput placeholder="First Name" formControlName="first_name">
  </mat-form-field>

  <mat-form-field class="form__input">
    <input matInput placeholder="Last Name" type="text" formControlName="last_name">
  </mat-form-field>

  <mat-form-field class="form__input">
    <input matInput placeholder="Email Address" type="email" formControlName="email">
  </mat-form-field>

  <div class="form-actions">
    <button class="form-actions__create" mat-raised-button color="primary" type="submit">Create your account</button>
  </div>

  

</form>
<br/><br/>
<p> vm$ = {{ vm$ | async | json }} </p>
<br/>